/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #000028;
  --accent-color: #ff0070;
  --section-title-color: #ff0070;
  --menu-color: #ff0070;
  --menu-hover-color: rgb(255 0 112 / 0.4);
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --decorated-text-color: #000028;
  --decorated-zone-color: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");
}

:root.theme-dark .header__rec {
  display: block;
}